.main-nav {
  height: 60px;
  margin: 0;

  ul.items {
    text-align: center;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;

    .btn-nav {
      height: 100%;
      border-radius: 0px;
    }

    .btn-nav:focus {
      outline: 0;
      box-shadow: none;
    }

    li.item {
      height: 100%;
      // padding: 0px 30px;

      .link_name.active {
        border-bottom: 3px solid;
      }
    }
  }
}
